[data-theme='dark'] {
  --color: white;
  --background-color: black;
}

[data-theme='light'] {
  --color: black;
  --background-color: white;
}

body {
  color: var(--color);
  background-color: var(--background-color);
}

.app{
  width: 500px;
  margin: 2rem;
}

nav {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}

nav a {
  text-decoration: none;
  color: inherit;
}

nav input {
  cursor: pointer;
}

.toggle-bar {
  width: 40px;
  height: 22px;
  border-radius: 12px;
  background-color: gray;
  position: relative;
  cursor: pointer;
  transition: background-color 0.1s ease-in;
}

.toggle-bar-dark {
  background-color: skyblue;
}

.slider {
  width: 18px;
  height: 18px;
  position: absolute;
  margin: 2px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.1s ease-in;
  left: 0;
}

.slider-dark {
  transform: translateX(18px);
}
